/* local insert of the font Lato-Black */
/* from google fonts https://fonts.google.com/specimen/Lato */
@font-face {
  font-family: 'Lato-Black';
  src: url('./fonts/Lato-Black.ttf') format('truetype');
}
body {
  font-family: 'Lato-Black', Arial, sans-serif;
  font-style: normal;
}
/* bi-coloured background */
.background-container {
  position: absolute;
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  border: 2vw inset burlywood;
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
}
/* foreground container */
.overlap-container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  padding: 2vw;
  border: 5vh inset burlywood;
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
}

h1 {
  font-size: 300%;
  color: darkred;
}
h2,h4 {
color: darkgrey; 
}
p, h3 {
color: black;
text-align: center;
}
h1, h2, h3, p, img {margin: 5px; }

span {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: darkgrey; 
}
.svg-image {
  fill: red;
}

.colored-box {
  background-color:red; 
  padding: 5vh; /* fixed size despites terminal size */
  margin-bottom: 20vh;

@media (max-width: 768px) {
  font-size: 14px; /* Adjusted font size for smaller screens */
  padding: 2px; /* Adjusted padding for smaller screens */
  margin-bottom: 0vh; /* Adjusted margin for smaller screens */
  }
}
/* there no hover effet provided by BootStrap 5.3.0 */
.hover-effect {

}
/* to get the shadow only when hovering */
.hover-effect:hover {
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
  opacity: 0.5;
  /* hand icon */
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}
