/* local insert of the font Lato-Black */
/* from google fonts https://fonts.google.com/specimen/Lato */
@font-face {
  font-family: 'Lato-Black';
  src: url('./fonts/Lato-Black.ttf') format('truetype');
}
body {
  font-family: 'Lato-Black', Arial, sans-serif;
  font-style: normal;
}
/* bi-coloured background */
.background-container {
  position: absolute;
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  border: 2vh inset burlywood;
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
}
/* foreground container */
.overlap-container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  padding: 2vh;
  border: 5vh inset burlywood;
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
}
img {
  width:8vh; 
  height: 8vh;
  margin: 1vh; 
}

#diceIcon {
  width:20vh; 
  height:20vh; 
}

#tickPlayer1, #tickPlayer2 {
  width:5vh; 
  height: 5vh; 
}

h1 {
  font-size: 12vh;
  color: darkred;
}

h2,h4 {
color: darkgrey; 
font-size: 10vh;
}
p, h3 {
color: black;
text-align: center;
font-size: 5vh;
}

span {
  display: flex;
  justify-content: center;
  margin: 5vh;
  color: darkgrey; 
}

.inline-block {
  display: inline-block;
}

.colored-box {
  background-color:red; 
  padding: 3vh;
  margin-bottom: 5vh;
}
@media (max-width: 768px) {
  .colored-box {
    background-color:red; 
    padding: 0vh;
    font-size: 10px; /* Adjusted font size for smaller screens */
    padding: 1vh; /* Adjusted padding for smaller screens */
    margin-bottom: 0vh; /* Adjusted margin for smaller screens */
  }
}
/* there no hover effet provided by BootStrap 5.3.0 */
.hover-effect {

}
/* to get the shadow only when hovering */
.hover-effect:hover {
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
  opacity: 0.5;
  /* hand icon */
  cursor: pointer;
}
/* to remmove the blinking bar and the I shape over non selectable
node elements */

h1, h2, h3, h4, p, #roundScore1, #roundScore2{
  user-select: none;
  cursor: default;
 }
