/* local insert of the font Lato-Black */
/* from google fonts https://fonts.google.com/specimen/Lato */
@font-face {
  font-family: 'Lato-Black';
  src: url('./fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
}
/* 2 sided background */
.background-container {
  position: absolute;
  height: 100vh;
  z-index: 1;
  border: 3em inset burlywood;
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
}
/* foreground container */
.overlap-container {
  position: absolute;
  height: 100vh;
  z-index: 2;
  padding: 20px;
  border: 3em inset burlywood;
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
}

body {
  font-family: 'Lato-Black', Arial, sans-serif;
}
h1 {
  font-size: 300%;
  color: darkred;
}
h2,h4 {
color: darkgrey; 
}
p, h3 {
color: black;
}
h1, h2, h3, p, img {margin: 5px; }

span {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: darkgrey; 
}
.svg-image {
  fill: red;
}

.colored-box {
  background-color:red; 
  color: #ffffff; 
  padding: 20px; /* fixed size despites terminal size */
  margin-bottom: 40px;
}

/* there no hover effet provided by BootStrap 5.3.0 */
.hover-effect {

}
/* to get the shadow only when hovering */
.hover-effect:hover {
  box-shadow: 5px 10px 5px 10px rgba(34, 36, 34, 0.699);
  opacity: 0.5;
  /* hand icon */
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}
